.menu {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;

    .badge {
      width: 20px;
      height: 15px;
      margin: 10px 48px 10px 0;
      background: #C4C4C4;
      border-radius: 7px;
      text-align: center;

      p {
        margin: 0;
        padding: 1px 0;
        font-size: 10px;
        color: #ffffff;
      }
    }
  }

  .filler {
    height: 370px;
  }

  a {
    display: block;
    padding: 10px 0;
    font-size: 12px;
    line-height: 14px;
    color: #8A94A6;
    text-decoration: none;
    border-left: 3px solid #ffffff;

    i {
      padding: 0 10px 0 20px;
    }
  }

  .active {
    color: #43536F;
    font-weight: bold;
    border-left: 3px solid #0C66FF;
  }

  .logout {
    color: #53627C;

    i {
      color: #8A94A6;
    }
  }
}