.card2 {
  display: flex;
  flex-direction: column;
  width: 222px;
  height: 253px;
  margin: 50px 10px;
  padding: 28px;
  text-align: left;
  background-color: #ffffff;

  hr {
    width: 90%;
    border: 0.3px solid #dadada;
  }

  h1 {
    margin: 0;
    font-size: 11px;
    font-weight: 800;
    color: #4e586a;
    line-height: 1.4;
    text-transform: uppercase;
  }

  h1:after {
    content: "";
    display: block;
    width: 40px;
    padding-top: 8px;
    border-bottom: 2px solid #0C66FF;
  }

  .header {
    margin-bottom: 50px;
  }

  .activity {
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    .doc-icon {
      width: 20px;
      height: 20px;
      padding: 5px;
      border: 1px solid #c8c8c8;
      border-radius: 50px;
    }

    .doc-icon i {
      font-size: 18px;
      color: #0bb07b;
    }

    .doc-text {
      padding: 0 10px;
    }

    .user {
      display: flex;
      flex-direction: row;
      padding: 10px 0 0;
    }

    .user-icon {
      width: 30px;
    }

    .user-icon img {
      width: 100%;
      border-radius: 20px;
    }

    .user-comment {
      padding: 0 0 0 10px;
    }

    .user-comment p span {
      font-weight: 700;
    }

    .doc-text h2 {
      margin: 0;
      font-size: 11px;
      color: #53627c;
    }

    .doc-text p {
      margin: 0;
      font-size: 9px;
      color: #a6aebc;
    }
  }
}